<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>CheckPriceTable</td><td>MainTest.checkTableDimension(org.jblas.DoubleMatrix,org.jblas.DoubleMatrix,double)[pri:1, instance:Test.MainTest@4df50bcc]<br/></td></tr>
</table>
